* {
    font-family: "Roboto", sans-serif;
}

.container {
    height: 624px;
    width: 501px;
    left: -662px;
    top: -379px;
    border-radius: 0px;
}
.rectangle1 {
    position: absolute;
    height: 60px;
    width: 501px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    background: #045D8B;
}

.icon {
    display: flow;
    padding: 6px 3px;

    position: absolute;
    width: 24px;
    height: 24px;
    margin-left: 20px;
    margin-top: 5px;
}

.vector {
    position: static;
    width: 18px;
    left: 12.5%;
    right: 12.5%;
    top: 75%;
    bottom: 25%;

    border: 2px solid #FFFFFF;

    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 6px 0px;
}

.vector1 {
    position: static;
    width: 18px;
    left: 12.5%;
    right: 12.5%;
    top: 50%;
    bottom: 50%;

    border: 2px solid #FFFFFF;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 6px 0px;
}

.vector2 {
    position: static;
    width: 18px;
    left: 12.5%;
    right: 12.5%;
    top: 75%;
    bottom: 75%;

    border: 2px solid #FFFFFF;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 6px 0px;
}

h4 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}

.memo {
    position: absolute;
    width: 161px;
    height: 48px;
    left: 183px;
    top: 0px;

}

.login {
    position: absolute;
    width: 45px;
    height: 22px;
    left: 420px;
    top: 12px;
}

h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}
.rectangle15 {
    position: absolute;
    width: 391px;
    height: 465px;
    left: 57px;
    top: 94px;

    background: #FFFFFF;
    border: 1px solid #045D8B;
    box-sizing: border-box;
    border-radius: 10px;
}
h5 {
    position: absolute;
    width: 153px;
    height: 25px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;

    color: #000000;
}
.freeboard {
    font-size: 16px;
    margin: 15px 30px;
}
.writername {
    font-size: 16px;
    margin: 15px 305px;
}
.rectangle20 {
    position: absolute;
    width: 334px;
    height: 46px;
    margin: 50px 25px;

    border: 1px solid #000000;
    box-sizing: border-box;
}
.title {
    margin: 10px 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
}
.rectangle21 {
    position: absolute;
    width: 334px;
    height: 344px;
    margin: 100px 25px;

    border: 1px solid #000000;
    box-sizing: border-box;
}
.rectangle23 {
    position: absolute;
    width: 59px;
    height: 27px;
    left: 326px;
    top: 571px;

    border: 1px solid #0E76A3;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
}
.rectangle22 {
   position: absolute;
    width: 59px;
    height: 27px;
    left: 392px;
    top: 571px;

    border: 1px solid #0E76A3;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
}
.button {
    margin: 5px 12px;
}